# This creates a new customer database

CREATE DATABASE CHANGEMEDB CHARACTER SET utf8 COLLATE utf8_general_ci;

GRANT ALL ON CHANGEMEDB.* TO 'CHANGEMEUSER'@'127.0.0.1' IDENTIFIED BY 'CHANGEMEPW';

FLUSH PRIVILEGES;
